Problem: 01

Write a function that takes two numbers as input and returns their average. Call the function with different values.

In [2]:
def average(num1, num2):
    try:
        num1 = float(num1)
        num2 = float(num2)
        return (num1 + num2) / 2
    except ValueError:
        return "Error: Both inputs must be numbers."

In [10]:
average(20, 37)

28.5

In [12]:
average(50, 67)

58.5

In [17]:
average(50, 'abc')

'Error: Both inputs must be numbers.'

--------------------

Problem: 02

Write a function that sorts a list of strings alphabetically. 

["apple", "banana", "cherry", "kiwi", "grape"]

In [29]:
def sort_alpha(strings):
    n = len(strings)
    for i in range(n):
        for j in range(0, n - i - 1):
            if strings[j] > strings[j + 1]:
                strings[j], strings[j + 1] = strings[j + 1], strings[j]
    return strings

In [31]:
words = ["apple", "banana", "cherry", "kiwi", "grape"]
sorted_words = sort_alpha(words)
print(sorted_words)

['apple', 'banana', 'cherry', 'grape', 'kiwi']

----------------------------------------

Problem: 03

Write a Python program that creates a new list containing only the duplicate elements from the given list: [1, 5, 6, 5, 1, 2, 3].

In [33]:
def find_duplicates(input_list):
    result = []
    for item in input_list:
        if input_list.count(item) > 1 and item not in result:
            result.append(item)
    return result

In [35]:
list = [1, 5, 6, 5, 1, 2, 3]
find_duplicates(list)

[1, 5]